# random forest
random forest is a supervised learning algorithm . 


random forest built multiple trees and merges them together to get a more accurate and stable prediction.

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier , RandomForestRegressor , RandomTreesEmbedding
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
#from sklearn.metrics import accuracy_score , classification_report , confusion_matrix , mean_absolute_error , mean_squared_error , root_mean_squared_error , r2_score , 
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    mean_absolute_error,
    mean_squared_error,
    r2_score,
)

In [3]:
sleep = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [5]:
sleep.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,Unnamed: 13,Unnamed: 14
0,Person ID,Age,Gender,Occupation,BMI Category,Sleep Duration,Quality of Sleep,Physical Activity Level,Heart Rate,Stress Level,Blood Pressure,Daily Steps,Sleep Disorder,NaN,NaN
1,1,27,Male,Software Engineer,Overweight,6.1,6,42,77,6,126/83,4200,NaN,NaN,NaN
2,2,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN,NaN,NaN
3,3,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN,NaN,NaN
4,4,28,Male,Sales Representative,Obese,5.9,4,30,85,8,140/90,3000,Sleep Apnea,NaN,NaN

In [6]:

sleep = sleep.drop(columns=["Unnamed: 13", "Unnamed: 14"])

In [7]:
sleep.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Person ID,Age,Gender,Occupation,BMI Category,Sleep Duration,Quality of Sleep,Physical Activity Level,Heart Rate,Stress Level,Blood Pressure,Daily Steps,Sleep Disorder
1,1,27,Male,Software Engineer,Overweight,6.1,6,42,77,6,126/83,4200,NaN
2,2,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN
3,3,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN
4,4,28,Male,Sales Representative,Obese,5.9,4,30,85,8,140/90,3000,Sleep Apnea

In [8]:
# Rename all columns
sleep = sleep.rename(columns={
    1: "Person ID",
    2: "Age",
    3: "Gender",
    4: "Occupation",
    5: "BMI Category",
    6: "Sleep Duration",
    7: "Quality of Sleep",
    8: "Physical Activity Level",
    9: "Heart Rate",
    10: "Stress Level",
    11: "Blood Pressure",
    12: "Daily Steps",
    13: "Sleep Disorder"
})

# Display the updated DataFrame
print(sleep)

             1    2       3                     4             5  \
0    Person ID  Age  Gender            Occupation  BMI Category
1            1   27    Male     Software Engineer    Overweight
2            2   28    Male                Doctor        Normal
3            3   28    Male                Doctor        Normal
4            4   28    Male  Sales Representative         Obese
..         ...  ...     ...                   ...           ...
370        370   59  Female                 Nurse    Overweight
371        371   59  Female                 Nurse    Overweight
372        372   59  Female                 Nurse    Overweight
373        373   59  Female                 Nurse    Overweight
374        374   59  Female                 Nurse    Overweight

                  6                 7                        8           9  \
0    Sleep Duration  Quality of Sleep  Physical Activity Level  Heart Rate
1               6.1                 6                       42          77
2               6.2                 6                       60          75
3               6.2                 6                       60          75
4               5.9                 4                       30          85
..              ...               ...                      ...         ...
370             8.1                 9                       75          68
371               8                 9                       75          68
372             8.1                 9                       75          68
373             8.1                 9                       75          68
374             8.1                 9                       75          68

               10              11           12              13
0    Stress Level  Blood Pressure  Daily Steps  Sleep Disorder
1               6          126/83         4200             NaN
2               8          125/80        10000             NaN
3               8          125/80        10000             NaN
4               8          140/90         3000     Sleep Apnea
..            ...             ...          ...             ...
370             3          140/95         7000     Sleep Apnea
371             3          140/95         7000     Sleep Apnea
372             3          140/95         7000     Sleep Apnea
373             3          140/95         7000     Sleep Apnea
374             3          140/95         7000     Sleep Apnea

[375 rows x 13 columns]

In [9]:
sleep.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Person ID,Age,Gender,Occupation,BMI Category,Sleep Duration,Quality of Sleep,Physical Activity Level,Heart Rate,Stress Level,Blood Pressure,Daily Steps,Sleep Disorder
1,1,27,Male,Software Engineer,Overweight,6.1,6,42,77,6,126/83,4200,NaN
2,2,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN
3,3,28,Male,Doctor,Normal,6.2,6,60,75,8,125/80,10000,NaN
4,4,28,Male,Sales Representative,Obese,5.9,4,30,85,8,140/90,3000,Sleep Apnea

In [10]:
sleep.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13'], dtype='object')

In [17]:
sleep2 = pd.read_csv('Sleep_health_and_lifestyle_dataset22.csv')

In [18]:
sleep2.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [13]:
sleep.info

<bound method DataFrame.info of              1    2       3                     4             5  \
0    Person ID  Age  Gender            Occupation  BMI Category
1            1   27    Male     Software Engineer    Overweight
2            2   28    Male                Doctor        Normal
3            3   28    Male                Doctor        Normal
4            4   28    Male  Sales Representative         Obese
..         ...  ...     ...                   ...           ...
370        370   59  Female                 Nurse    Overweight
371        371   59  Female                 Nurse    Overweight
372        372   59  Female                 Nurse    Overweight
373        373   59  Female                 Nurse    Overweight
374        374   59  Female                 Nurse    Overweight

                  6                 7                        8           9  \
0    Sleep Duration  Quality of Sleep  Physical Activity Level  Heart Rate
1               6.1                 6                       42          77
2               6.2                 6                       60          75
3               6.2                 6                       60          75
4               5.9                 4                       30          85
..              ...               ...                      ...         ...
370             8.1                 9                       75          68
371               8                 9                       75          68
372             8.1                 9                       75          68
373             8.1                 9                       75          68
374             8.1                 9                       75          68

               10              11           12              13
0    Stress Level  Blood Pressure  Daily Steps  Sleep Disorder
1               6          126/83         4200             NaN
2               8          125/80        10000             NaN
3               8          125/80        10000             NaN
4               8          140/90         3000     Sleep Apnea
..            ...             ...          ...             ...
370             3          140/95         7000     Sleep Apnea
371             3          140/95         7000     Sleep Apnea
372             3          140/95         7000     Sleep Apnea
373             3          140/95         7000     Sleep Apnea
374             3          140/95         7000     Sleep Apnea

[375 rows x 13 columns]>

In [19]:
sleep2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [20]:
for col in sleep2.select_dtypes(include=['category', 'object']):
    sleep2[col] = le.fit_transform(sleep2[col])  # Apply Label Encoding
    sleep2[col] = sleep2[col].astype(int)

In [21]:
sleep2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    int32
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    int32
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    int32
 9   Blood Pressure           374 non-null    int32
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    int32
dtypes: float64(1), int32(5), int64(7)
memory usage: 30.8 KB

In [22]:
sleep2.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,1,27,9,6.1,6,42,6,3,11,77,4200,2
1,2,1,28,1,6.2,6,60,8,0,9,75,10000,2
2,3,1,28,1,6.2,6,60,8,0,9,75,10000,2
3,4,1,28,6,5.9,4,30,8,2,22,85,3000,1
4,5,1,28,6,5.9,4,30,8,2,22,85,3000,1

In [23]:
sleep2.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [24]:
# split the data into X and y for classification
# Define X and y
X = sleep2.drop(columns=["Sleep Disorder"])
y = sleep2["Sleep Disorder"]

# Check the shapes
print(X.shape, y.shape)

(374, 12) (374,)

In [25]:
X.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
0,1,1,27,9,6.1,6,42,6,3,11,77,4200
1,2,1,28,1,6.2,6,60,8,0,9,75,10000
2,3,1,28,1,6.2,6,60,8,0,9,75,10000
3,4,1,28,6,5.9,4,30,8,2,22,85,3000
4,5,1,28,6,5.9,4,30,8,2,22,85,3000

In [27]:
# train test split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=52)
# train the model
model = RandomForestClassifier()
model.fit(X_train, y_train)
prediction = model.predict(X_test)
print('accuracy_score: ', accuracy_score(y_test, prediction))
print('classification_report: ', classification_report(y_test, prediction))
print('confusion_matrix: ', confusion_matrix(y_test, prediction))

accuracy_score:  0.9466666666666667
classification_report:                precision    recall  f1-score   support

           0       0.85      0.92      0.88        12
           1       0.94      0.89      0.91        18
           2       0.98      0.98      0.98        45

    accuracy                           0.95        75
   macro avg       0.92      0.93      0.92        75
weighted avg       0.95      0.95      0.95        75

confusion_matrix:  [[11  0  1]
 [ 2 16  0]
 [ 0  1 44]]

In [29]:
model2 = RandomForestRegressor(n_estimators=50, random_state=52)
model2.fit(X_train, y_train)
prediction2 = model2.predict(X_test)

print('mean_squared_error: ', mean_squared_error(y_test, prediction2))
print('mean_absolute_error: ', mean_absolute_error(y_test, prediction2))
print('r2_score: ', r2_score(y_test, prediction2))

mean_squared_error:  0.11586133333333334
mean_absolute_error:  0.10773333333333333
r2_score:  0.795442561205273

In [30]:
model2 = RandomForestRegressor(n_estimators=200, random_state=52)
model2.fit(X_train, y_train)
prediction2 = model2.predict(X_test)

print('mean_squared_error: ', mean_squared_error(y_test, prediction2))
print('mean_absolute_error: ', mean_absolute_error(y_test, prediction2))
print('r2_score: ', r2_score(y_test, prediction2))

mean_squared_error:  0.10239800000000002
mean_absolute_error:  0.10399999999999998
r2_score:  0.8192125706214688